* {
    font-size: 16px;
    color: #0B2545;
  }
  
  .container1 {
    margin: auto;
    width: 30%;
  }
  
  h1 {
    font-size: 26px;
    font-weight: 800;
  }
  
  
  h4 {
    font-size: 18px;
    font-weight: 500;
  }
  
  .labels {
    font-size: 16px;
    color: #0B2545;
    font-weight: bolder;
  }
  
  p {
    margin-top: 5px;
    font-size: 16px;
    padding: 7px;
    border: 1px solid darkgrey;
    border-radius: 5px;
  }
  
  label {
    margin-top: 5px;
    font-size: 16px;
    padding: 7px;
  }
  
  .mat-button {
    background-color: #AEC2D5;
    width: 200px;
  
  }
  
  #delete {
    background-color: rgb(233, 101, 101);
  }