<form [formGroup]="formV" class="container1 rounded bg-white mt-5 mb-5" (ngSubmit)="submitPassword()">
    <div class="row">
  
      <div class="col">
        <div class="">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="text-right">Please set up your new password:</h1>
          </div>
  
          <div class="col-md-12"><label class="labels">New Password</label>
            <input type="password" class="form-control" formControlName="newPassword" [(ngModel)]="newPassword" required>
            <span class="text-danger"
              *ngIf="(registerFormControl.newPassword.touched) && registerFormControl.newPassword.errors?.required">
              New password is required
            </span>
          </div>
          <div class="col-md-12"><label class="labels">Confirm New Password</label>
            <input type="password" class="form-control" formControlName="passwordConfirm" [(ngModel)]="passwordConfirm"
              required>
            <span class="text-danger"
              *ngIf="(registerFormControl.passwordConfirm.touched ) && registerFormControl.passwordConfirm.errors?.required">
              Confirmed password is required
            </span>
          </div>
        </div>
        <div class="row mt-4">
  
          <div class="col-md-6">
            <button class="col-md-12 " type="submit" mat-button>Submit</button>
          </div>
  
        </div>
  
  
      </div>
    </div>
  
  
  </form>