


<section class="text-center">
    <h1 style="color:navy; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1cm; font-weight: lighter;">
     Create Fast Donation Terms Reservation</h1>
     <div class="main-image">
      <img alt="My image name" src="./assets/img/logobrzi.png"> 
  </div>
    

     <div class="card mx-4 mx-md-5 shadow-5-strong" style="
     margin-top: 10px;
     background: lavender;
     backdrop-filter: blur(30px);
     ">
     <div class="card-body py-5 px-md-5">
     
     <div class="row d-flex justify-content-center">
     <div class="col-lg-8">
       <h2 class="fw-bold mb-5" style="color:slateblue">Create Fast Reservation</h2>
       <form>
     
         <div class="form-outline mb-4">
         
           <input id="date" name="date" type="datetime-local"  class="form-control" [(ngModel)]="newFastTerm.date"  required date="date"
           #date="ngModel">
           <div [hidden]="date.valid || date.pristine"
          class="alert alert-danger">
          Date is must be filled!
     </div>
           <label class="form-label" for="date">Date[Date of Created Term]</label>  

          </div>
     
           <div class="form-outline mb-4">
         
                  <input id="reservationStart" name="reservationStart" type="datetime-local"  class="form-control" [(ngModel)]="newFastTerm.reservationStart" 
                  required reservationStart="reservationStart"
                  #reservationStart="ngModel" >
                <div [hidden]="reservationStart.valid || reservationStart.pristine"
                 class="alert alert-danger">
                 ReservationStart is must be filled
                 </div>
                  <label class="form-label" for="date">Reservation start</label>   
                 </div>
     
     
           <div class="form-outline mb-4">
         
             <input id="reservationEnd" name="reservationEnd" type="datetime-local"  class="form-control" [(ngModel)]="newFastTerm.reservationEnd"  
             required reservationEnd="reservationEnd"
             #reservationEnd="ngModel">
             <div [hidden]="reservationEnd.valid || reservationEnd.pristine"
                 class="alert alert-danger">
                 ReservationEnd is must be filled
                 </div>
             <label class="form-label" for="date">Reservation end</label>   
            </div>
                
             
             <div class="form-outline mb-4">
               
               <input id="duration" name="duration" type="text"  class="form-control" [(ngModel)]="newFastTerm.duration"  />
               <label class="form-label" for="num_of_dur">duration[minutes]</label>
             </div>
     
     
            <div class="form-outline mb-4">
                   
               <input id="calendar" name="calendar" type="text"  class="form-control" [(ngModel)]="pickCalendar.id" 
               required id="id"
             #id="ngModel">
             <div [hidden]="id.valid || id.pristine"
                 class="alert alert-danger">
                 Id is must be a filled
                 </div>
               <label class="form-label" for="date">Calendar</label>
             </div>
            
             <div class="form-outline mb-4">
                   
               <input id="bloodCenter" name="bloodCenter" type="text"  class="form-control" [(ngModel)]="pickBloodCenter.id" />
               <label class="form-label" for="date">Blood Center</label>
             </div>

             <div class="form-outline mb-4">
                   
                <input id="stuff" name="stuff" type="text"  class="form-control" [(ngModel)]="pickStuff.id" />
                <label class="form-label" for="date">Medical Stuff</label>
              </div>
     
             
             <button class = "btn btn-success"  title="Click add Fast Donation Term" (click) = "addFastDonationTerm()" style="background-color:steelblue">Create Fast Reservation</button>
           </form>
       </div>
     </div>
     </div>
     </div>
     </section>