<p>stuff-user-profile works!</p>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<div class = "Registered User Profile">
    <form >
        <label for="id">Profile Id :</label>
         <p>{{registeredUser.id}}</p> 
        

        <label for="username">Username: </label>
         <p>{{registeredUser.username}}</p>
       <!-- <div class="form-group text-left">
            <input [(ngModel)]="bloodCenter.centerName" id = "centerName" name = "centerName" type = "text" class = "from-control">
        </div>-->

        <label for="firstName">First Name: </label>
          <p>{{registeredUser.firstName}}</p>
        

        <label for = "lastName"> Last Name: </label>
         <p>{{registeredUser.lastName}}</p>
        

        <label for="Email">Email:</label>
        <p>{{registeredUser.email}}</p>
        

        <label for="mobile">Mobile Phone:</label>
        <p>{{registeredUser.mobile}}</p>
        

        <label for = "adress">Address: </label>
         <p>{{registeredUser.adress}}</p>
       

        <label for = "city">City: </label>
        <p>{{registeredUser.city}}</p>
        

        <label for = "state">State: </label>
        <p>{{registeredUser.state}}</p>

        <label for = "points">Points: </label>
        <p>{{registeredUser.points}}</p>

        <label for = "category">Category: </label>
        <p>{{registeredUser.category}}</p>

        <label for = "benefits">Benefits </label>
        <p>{{registeredUser.benefits}}</p>

    </form>
</div>
