<div> <img src="assets/img/logo-transfuzija.png"><p style="text-align:center"><font size="7"   style="color:red;">UPITNIK ZA DAVAOCA KRVI ILI KOMPONENATA KRVI</font></p></div>
<p style="text-align:center"><font size="4"   style="color:black;">POPUNJAVA DAVALAC</font></p>

<div >
    <div class="row">
      <div class="col-sm">
        <p style="text-align:center"><label for="numberOfDonator">Broj davaoca</label></p>
        <p style="text-align:center"> <input id="numberOfDonator"  name="numberOfDonator" type="text"  class="form-control" [(ngModel)]="survey.numberOfDonator" /></p>

        <p style="text-align:center"><label for="date">Datum</label></p>
        <p style="text-align:center"> <input id="date"  name="date" type="text"  class="form-control" [(ngModel)]="survey.date" /></p>
        
        <p style="text-align:center"><label for="firstName">Ime</label></p>
        <p style="text-align:center"> <input id="firstName"  name="firstName" type="text"  class="form-control" [(ngModel)]="survey.firstName" /></p>

        <p style="text-align:center"><label for="lastName">Prezime</label></p>
        <p style="text-align:center"> <input id="lastName"  name="lastName" type="text"  class="form-control" [(ngModel)]="survey.lastName" /></p>

        <p style="text-align:center"><label for="jmbg">JMBG</label></p>
        <p style="text-align:center"> <input id="jmbg"  name="jmbg" type="text"  class="form-control" [(ngModel)]="survey.jmbg" /></p>

        <p style="text-align:center"><label for="jmbg">Datum rođenja</label></p>
        <p style="text-align:center"> <input id="jmbg"  name="jmbg" type="text"  class="form-control" [(ngModel)]="survey.dateOfBirth" /></p>

        <p style="text-align:center"><label for="jmbg">Pol</label></p>
        <p style="text-align:center"> <input id="jmbg"  name="jmbg" type="text"  class="form-control" [(ngModel)]="survey.sex" /></p>

      </div>
      <div class="col-sm">
        <p style="text-align:center"><label for="jmbg">Adresa</label></p>
        <p style="text-align:center"> <input id="jmbg"  name="jmbg" type="text"  class="form-control" [(ngModel)]="survey.adress" /></p>

        <p style="text-align:center"><label for="jmbg">Grad</label></p>
        <p style="text-align:center"> <input id="jmbg"  name="jmbg" type="text"  class="form-control" [(ngModel)]="survey.city" /></p>

        <p style="text-align:center"><label for="jmbg">Mobilni telefon</label></p>
        <p style="text-align:center"> <input id="jmbg"  name="jmbg" type="text"  class="form-control" [(ngModel)]="survey.mobile" /></p>

        <p style="text-align:center"><label for="jmbg">Organizacija</label></p>
        <p style="text-align:center"> <input id="jmbg"  name="jmbg" type="text"  class="form-control" [(ngModel)]="survey.company" /></p>

        <p style="text-align:center"><label for="jmbg">Profesija</label></p>
        <p style="text-align:center"> <input id="jmbg"  name="jmbg" type="text"  class="form-control" [(ngModel)]="survey.profession" /></p>

        <p style="text-align:center"><label for="jmbg">Broj donacija</label></p>
        <p style="text-align:center"> <input id="jmbg"  name="jmbg" type="text"  class="form-control" [(ngModel)]="survey.numberOfBoodDonations" /></p>
      </div>
    </div>
  </div>

<div>
    
 

</div>

<p style="text-align:center"><font size="4"   style="color:black;">POPUNJAVA DAVALAC</font></p>
  <div class="row">
    <div class="col-sm">
        <p> Da li ste do sada dobrovoljno davali krv ili komponente krvi?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="survey.p1">
            <mat-radio-button value="DA">DA</mat-radio-button>
            <mat-radio-button value="NE">NE</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p> Da li ste ikada bili odbijeni kao davalac krvi ili komponente krvi?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="survey.p2">
            <mat-radio-button value="DA">DA</mat-radio-button>
            <mat-radio-button value="NE">NE</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p>Da li ste nešto jeli pre dolaska na davanje krvi ili komponente krvi?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="survey.p3">
            <mat-radio-button value="DA">DA</mat-radio-button>
            <mat-radio-button value="NE">NE</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p> Da li se trenutno osećate zdravim, sposobnim i odmornim da date krv ili komponente krvi?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="survey.p4">
          <mat-radio-button value="DA">DA</mat-radio-button>
          <mat-radio-button value="NE">NE</mat-radio-button>
          </mat-radio-group>
    </div>
    
  </div>

 <!-- <div class="row">
    <div class="col-sm">
        <p>Da li se bavite opasnim zanimanjem ili hobijem?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="answers">
            <mat-radio-button value="DA">DA</mat-radio-button>
            <mat-radio-button value="NE">NE</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p>Da li redovno (svakodnevno) uzimate bilo kakve lekove?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="answers">
            <mat-radio-button value="DA">DA</mat-radio-button>
            <mat-radio-button value="NE">NE</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p>Da li redovno (svakodnevno) uzimate bilo kakve lekove?</p>
    </div>
    <div class="col-sm">
        <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="answers">
            <mat-radio-button value="DA">DA</mat-radio-button>
            <mat-radio-button value="NE">NE</mat-radio-button>
          </mat-radio-group>
    </div>
  </div>-->



 

<button class="btn btn-primary btn-block mb-4" (click)="save()">
    Save
  </button>