<p>profile-center works!</p>

<div class = "BloodCenter Profile">
    <form >
        <label for="id">Center Id :</label>
        <p>{{bloodCenter.id}}</p>

        <label for="centerName">Center Name: </label>
        <p>{{bloodCenter.centerName}}</p>

        <label for="address">Address: </label>
        <p>{{bloodCenter.address}}</p>

        <label for="description">Description:</label>
        <p>{{bloodCenter.description}}</p>

        <label for="averageGradeCentre">Average Grade:</label>
        <p>{{bloodCenter.averageGradeCentre}}</p>

        <label for = "bloodA">Blood A[l]: </label>
        <p>{{bloodCenter.bloodA}}</p>

        <label for = "bloodB">Blood B[l]: </label>
        <p>{{bloodCenter.bloodB}}</p>

        <label for = "bloodAB">Blood AB[l]: </label>
        <p>{{bloodCenter.bloodAB}}</p>

        <label for = "bloodO">Blood O[l]: </label>
        <p>{{bloodCenter.bloodO}} </p>
        
        <label for = "listOfStuffs">List of Stuffs: </label>
        <p>{{bloodCenter.listOfStuffs}} </p>
    </form>
</div>
