<div>
  <div class="row">
    <div class="col-2">
      <p style="text-align:center"><img src="assets/img/logo-transfuzija.png"></p>
    </div>
    <div class="col-10">
      <p><font size="5"   style="color:white;">.</font></p>
      <p><font size="5"   style="color:white;">.</font></p>
      <p style="text-align:center"><font size="7"   style="color:red;">QUESTIONNAIRE FOR BLOOD DONORS</font></p>
    </div>
</div>
<p style="text-align:center"><font size="4"   style="color:black;">INFORMATION ABOUT BLOOD DONOR</font></p>


  <div class = "DonationTerm">
    <form >  
      <div class="row">
        <div class="col-sm">
       
          
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
          <p style="text-align:center"><label for="firstName">First name:</label></p>
          <p style="text-align:center">{{donationTerms.registeredUser.firstName}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
  
          <p style="text-align:center"><label for="lastName">Last name: </label></p>
          <p style="text-align:center">{{donationTerms.registeredUser.lastName}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
  
          
          <p style="text-align:center"><label for="sex">Gender:</label></p>
          <p style="text-align:center">{{donationTerms.registeredUser.sex}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

          <p style="text-align:center"><label for="addreess">Address:</label></p>
          <p style="text-align:center">{{donationTerms.registeredUser.adress}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
          
          <p style="text-align:center"><label for="city">City:</label></p>
          <p style="text-align:center">{{donationTerms.registeredUser.city}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
          
          
        </div>
        <div class="col-sm">
          
          <p style="text-align:center"><label for="mobile">Phone number:</label></p>
          <p style="text-align:center">{{donationTerms.registeredUser.mobile}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
          
          <p style="text-align:center"><label for="points">Points:</label></p>
          <p style="text-align:center">{{donationTerms.registeredUser.points}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

          <p style="text-align:center"><label for="Term Id">Term Id:</label></p>
          <p style="text-align:center">{{donationTerms.id}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
          
          <p style="text-align:center"><label for="Reservation Start">Reservation Start:</label></p>
          <p style="text-align:center">{{donationTerms.reservationStart}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>


          <p style="text-align:center"><label for="Reservation End">Reservation End:</label></p>
          <p style="text-align:center">{{donationTerms.reservationEnd}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
          <p style="text-align:center"><label for="Blood Centar">Blood  Center Id:</label></p>
          <p style="text-align:center">{{donationTerms.bloodCenter.id}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
          <p style="text-align:center"><label for="Survey Id">SurveyId:</label></p>
          <p style="text-align:center">{{donationTerms.survey.id}}</p>
          <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

        </div>
      </div>
       
    </form>
</div>

<div>
      <p style="text-align:center"><font size="4"   style="color:black;">FILLED IN BY BLOOD DONOR</font></p>
</div>

<div class="row">
  
  <div class="col-sm">
      <p> Do you weigh less than 50 kg?</p>
  </div>


  <div class="col-sm">
    <label class="form-label" for="email">Answer</label>
    <p style="text-align:center">{{donationTerms.survey.p1}}</p>
  </div>
</div>

  <div class="row">
    <div class="col-sm">
        <p> Do you have symptoms of a cold, some illness or simply not feeling well?</p>
    </div>


    <div class="col-sm">
    <label class="form-label" for="email">Answer</label>
    <p style="text-align:center">{{donationTerms.survey.p2}}</p>
  </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p>Do you have skin changes (infections, rashes, fungal diseases...)?</p>
    </div>

    <div class="col-sm">
    <label class="form-label" for="email">Answer</label>
    <p style="text-align:center">{{donationTerms.survey.p3}}</p>
  </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p> Do you have high or low blood pressure?</p>
    </div>
    <div class="col-sm">
      <label class="form-label" for="email">Answer</label>
      <p style="text-align:center">{{donationTerms.survey.p4}}</p>
    </div>
    
  </div>

 <div class="row">
    <div class="col-sm">
        <p>Are you under therapy or has it been at least 7 days since therapy antibiotics?</p>
    </div>
    <div class="col-sm">
      <label class="form-label" for="email">Answer</label>
      <p style="text-align:center">{{donationTerms.survey.p5}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p>Has it been 7 days since tooth extraction and minor dental interventions?</p>
    </div>
    <div class="col-sm">
      <label class="form-label" for="email">Answer</label>
      <p style="text-align:center">{{donationTerms.survey.p6}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <p>Has it been 6 months since body and skin piercing (piercing),tattoos or certain surgical interventions and blood transfusions?</p>
    </div>
    <div class="col-sm">
      <label class="form-label" for="email">Answer</label>
      <p style="text-align:center">{{donationTerms.survey.p7}}</p>
    </div>
  </div>

  
  <div class="row" *ngIf="checkGender1">
    <div class="col-sm">
        <p>Are you in the phase of a regular monthly cycle?</p>
    </div>
    <div class="col-sm">
      <label class="form-label" for="email">Answer</label>
      <p style="text-align:center">{{donationTerms.survey.p8}}</p>
    </div>
  </div>

  <div>
    <p style="text-align:center"><font size="4"   style="color:black;">FILLED IN BY MEDICAL STUFF</font></p>
</div>

<div class="row">

  <div *ngIf="mustFill"><p style="text-align:center"><label><font size="5" style="color:brown;">You must answer all questions!!</font></label></p> </div>
  <div class="col-sm">
      <p> What is Your Blood Type?</p>
  </div>
  <div class="col-sm">
      <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="stuffSurvey.blood_type">
          <mat-radio-button value="A">A </mat-radio-button>
          <mat-radio-button value="B">B </mat-radio-button>
          <mat-radio-button value="AB">AB </mat-radio-button>
          <mat-radio-button value="O">O </mat-radio-button>
        </mat-radio-group>
  </div>

  <div class="col-sm">
    <p> Does Exam is Accepted?</p>
</div>
<div class="col-sm" >
    <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="stuffSurvey.accepted_exam">
        <mat-radio-button value="YES">YES</mat-radio-button>
        <mat-radio-button value="NO">NO</mat-radio-button>
        
      </mat-radio-group>
</div>
</div>

<div class="form-outline mb-4">
  <label class="form-label" for="reason_ejection">Reason For Ejection</label>
  <input id="reason_ejection"  name="reason_ejection" type="text"  class="form-control"   [(ngModel)]="stuffSurvey.reason_ejection" />
</div>

<div >
  <label class="form-label" for="extra_note">Extra Note</label>
  <input id="extra_note"  name="extra_note" type="text"  class="form-control"   [(ngModel)]="stuffSurvey.extra_note" />
</div>

<div class="row">
  <div *ngIf="mustFill"><p style="text-align:center"><label><font size="5" style="color:brown;">You must answer all questions!!</font></label></p> </div>
  <div class="col-sm">
      <p> Right Or Left Arm</p>
  
  
      <mat-radio-group aria-label="Select an option" style="margin-right: 450px;" [(ngModel)]="stuffSurvey.arm">
          <mat-radio-button value="Left">Left Arm </mat-radio-button>
          <mat-radio-button value="Right">Right Arm </mat-radio-button>
       
        </mat-radio-group>
      </div>

      <div class="col-sm">
        <label for="bloodB">Blood Quantity[ml]: </label>
        <input [(ngModel)]="stuffSurvey.blood_quantity" id = "bloodB" name = "bloodB" type = "number" class = "from-control">
    </div>

    </div>

</div>


<button class="btn btn-primary btn-block mb-4" (click)="save()">
    Save
  </button>

  <button class="btn btn-primary btn-block mb-4" (click)="UpdateBloodQuantity(stuffSurvey)">
    UpdateBloodQuantity
  </button>