<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="" style="
          margin-top: -100px;
          margin-left: 260px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          width: 1000px;
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center" >
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Login</h2>
            <form>
              <!-- Username input -->
              <div class="form-outline mb-4">
                <input id="username"  name="username" type="text"  class="form-control" [(ngModel)]="username" />
                <label class="form-label" for="username">Username</label>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input id="password" name="password" type="password"  class="form-control" [(ngModel)]="password" />
                <label class="form-label" for="password">Password</label>
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div>
  
              <!-- Submit button -->
              <button class="btn btn-primary btn-block mb-4" (click)="login()">
                Login
              </button>
  
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->