<section>
    <div class="col-sm" style="text-align:left">
        <button class="btn btn-success" (click)="goToHome()">Back to home page</button>
      </div>
</section>
<section class="text-center" style="background-color:ghostwhite">
    <h1 style="color:navy; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1cm; font-weight: bold;">
        List of all centers</h1>
        <h2 style="color:whitesmoke; background-color: navy; font-weight: lighter;">You can look for any needed center</h2>

       
        <div >
            <img alt="My image name" src="./assets/img/logo-transfuzija.png"> 
        </div>
    
        
 <div class="card-body py-5 px-md-5">

    
<div  >

    <form class="form-search" (ngSubmit)="findByAverageGrade(averageGradeCentre)">
        <label for="averageGradeCentre" style="font-weight:bold">Average grade of center: </label>
        <input name="averageGradeCentre" id="averageGradeCentre" type="text" [placeholder]="placeholder" [(ngModel)]="averageGradeCentre" style="color:navy">
        <input type="submit" value="filter" class="btn btn-primary" >
    </form>
    <form class="form-search" (ngSubmit)="findByAddress(address)">
        <label for="address" style="font-weight:bold">Address of center: </label>
        <input name="address" id="address" type="text" [placeholder]="placeholder1" [(ngModel)]="address" style="color:navy">
        <input type="submit" value="filter" class="btn btn-primary" >
    </form>

    <form class="form-search" (ngSubmit)="findByName(centerName)">
        <label for="name" style="font-weight:bold">Name of  center: </label>
        <input name="name" id="name" type="text" [placeholder]="placeholder2" [(ngModel)]="centerName" style="color:navy">
        <input type="submit" value="filter" class="btn btn-primary" >
    </form>
    <form class="form-search" (ngSubmit)="findByCity(city)">
        <label for="city" style="font-weight:bold">City of center: </label>
        <input name="city" id="city" type="text" [placeholder]="placeholder3" [(ngModel)]="city" style="color:navy">
        <input type="submit" value="filter" class="btn btn-primary" >
    </form>
</div>





<div class="table-bordered">

    <table border="1" class="table table-striped table-bordered" style="background-color:white;color:darkslategray; font-weight: lighter; border-color: midnightblue">
        <thead>
            <tr>
                <th>Center name</th>
                <th>Address</th>
                <th>City</th>
                <th>Description</th>
                <th>Average Grade</th>
                <th>bloodA</th>
                <th>bloodB</th>
                <th>bloodAB</th>
                <th>bloodO</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bloodCenter of bloodCenters">
                <td>{{bloodCenter.centerName}}</td>
                <td>{{bloodCenter.address}}</td>
                <td>{{bloodCenter.city}}</td>
                <td>{{bloodCenter.description}}</td>
                <td>{{bloodCenter.averageGradeCentre}}</td>
                <td>{{bloodCenter.bloodA}}</td>
                <td>{{bloodCenter.bloodB}}</td>
                <td>{{bloodCenter.bloodAB}}</td>
                <td>{{bloodCenter.bloodO}}</td>
            </tr>
        </tbody>
    </table>
</div>

</div>
   

</section>