<p>donation-terms works!</p>

<p style="text-align:center"><font size="4"   style="color:black;"></font></p>
<p style="text-align:center"><font size="4"   style="color:black;">List of Donation Terms</font></p>
<div class="container">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>LocalDateTime</th>
                <th>duration</th>
                <th>isFree</th>
                <th>reservationStart</th>
                <th>reservationEnd</th>
                <th>bloodCenter</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let donationTerms of donationTerms">
                <td>{{donationTerms.id}}</td>
                <td>{{donationTerms.LocalDateTime}}</td>
                <td>{{donationTerms.duration}}</td>
                <td>{{donationTerms.isFree}}</td>
                <td>{{donationTerms.reservationStart}}</td>
                <td>{{donationTerms.reservationEnd}}</td>
                <td>{{donationTerms.bloodCenter.id}}</td>
                
            </tr>
        </tbody>
    </table>
</div>
